<p-menubar [model]="items">
    <ng-template pTemplate="start">
      <img src="assets/Images/skillzone-1.png" height="40" class="p-mr-2" style="vertical-align: middle;"><span
        style="padding: 10px; color: blue;font-weight: bolder; font-size: larger">SkillZone</span>
    </ng-template>
    <ng-template pTemplate="end">
      <button pButton type="button" label="Home" class="p-button-sm  mr-2" [routerLink]="['/home']"
      routerLinkActive="active"></button>
      <button pButton type="button" label="Contact us" class="p-button-sm" [routerLink]="['/contact-us']"
      routerLinkActive="active"></button>
    </ng-template>
  </p-menubar>