<!-- <p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/Images/skillzone-1.png" height="40" class="p-mr-2" style="vertical-align: middle;"><span
      style="padding: 10px; color: blue;font-weight: bolder; font-size: larger">SkillZone</span>
  </ng-template>
  <ng-template pTemplate="end">
    <button pButton type="button" label="Contact us" class="p-button-sm"></button>
  </ng-template>
</p-menubar> -->
<!-- <div class="grid grid-nogutter surface-section text-800" style="background-color: rgb(235, 235, 235);">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <section>
      <span class="block text-8xl font-bold mb-1">World's #1</span>
      <div class="text-6xl text-primary font-bold mb-3">Online Bootcamp</div>
      <p class="mt-0 mb-4 text-700 line-height-3"><span class="text-black-1xl font-bold">2,00,000</span> careers
        advanced<br><span class="text-black-1xl font-bold">1,500</span> live classes every month<br><span
          class="text-black-1xl font-bold">85%</span>
        report career benefits including promotion or a new job</p>

      <button pButton pRipple label="Explore Programs" type="button" class="mr-3 p-button-raised"></button>
      <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/Images/user-1.jpg" alt="Image" class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div> -->

<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-4xl">
    <span class="text-blue-600">Certification Courses</span>
  </div>
  <div class="text-700 text-sm mb-6">Get certified by global certification bodies and deepen your expertise</div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-book text-4xl text-blue-500"></i>
      </span>
      <div class="text-2xl mb-3 font-medium">PMP Certification Training</div>
      <span class="text-700 text-sm line-height-3">Advanced<br><i class="pi pi-star-fill text-1xl text-yellow-500"></i>
        4.30 (26014 Ratings) | 80232 Learners</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-book text-4xl text-blue-500"></i>
      </span>
      <div class="text-2xl mb-3 font-medium">ITIL 4 Foundation</div>
      <span class="text-700 text-sm line-height-3">Foundational<br><i
          class="pi pi-star-fill text-1xl text-yellow-500"></i> 4.50 (12001 Ratings) | 14746 Learners</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-book text-4xl text-blue-500"></i>
      </span>
      <div class="text-2xl mb-3 font-medium">AWS Solutions Architect</div>
      <span class="text-700 text-sm line-height-3">Advanced<br><i class="pi pi-star-fill text-1xl text-yellow-500"></i>
        4.40 (4389 Ratings) | 14432 Learners</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-book text-4xl text-blue-500"></i>
      </span>
      <div class="text-2xl mb-3 font-medium">Certified ScrumMaster (CSM)</div>
      <span class="text-700 text-sm line-height-3">Advanced<br><i class="pi pi-star-fill text-1xl text-yellow-500"></i>
        4.30 (6361 Ratings) | 23828 Learners</span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-book text-4xl text-blue-500"></i>
      </span>
      <div class="text-2xl mb-3 font-medium">Machine Learning</div>
      <span class="text-700 text-sm line-height-3">Advanced<br><i class="pi pi-star-fill text-1xl text-yellow-500"></i>
        4.50 (8276 Ratings) | 25637 Learners</span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-book text-4xl text-blue-500"></i>
      </span>
      <div class="text-2xl mb-3 font-medium">Certified Lean Six Sigma Green Belt</div>
      <span class="text-700 text-sm line-height-3">Foundational<br><i
          class="pi pi-star-fill text-1xl text-yellow-500"></i> 4.20 (7140 Ratings) | 34982 Learners</span>
    </div>
  </div>
</div> -->

<!-- <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-4xl mb-4">Get Certified, Get Ahead with Our Programs</div>
  <div class="text-900 font-bold text-6xl mb-4">Post Graduate Programs</div>
  <div class="text-700 text-xl mb-6 line-height-3">Learn from global experts and get certified by the world's leading
    universities<br>
    <span class="text-700 text-sm mb-2"><i class="pi pi-circle-fill text-1xl text-blue-500"></i> University
      Certificates&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> University Alumini
      Status&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> MasterClasses from
      University&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> Career Support</span>
  </div>
  <div class="grid">
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-bold text-xl mb-2">Full Stack Java Developer</div>
          <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>6 Months | <i
              class="pi pi-server text-500 mr-2"></i>7 Courses</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$19</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Offline stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Self-Learning stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Online stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Monthly tests</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Mock Interviews</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Job References</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
          <button pButton pRipple label="Enroll Now" class="p-3 w-full mt-auto"></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-bold text-xl mb-2">Digital Marketing Specialist</div>
          <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>12 Months | <i
              class="pi pi-server text-500 mr-2"></i>14 Courses</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$29</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Offline stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Self-Learning stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Online stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Monthly tests</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Mock Interviews</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Job References</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
          <button pButton pRipple label="Enroll Now" class="p-3 w-full"></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
          <div class="text-900 font-bold text-xl mb-2">Cloud Architect</div>
          <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>12 Months | <i
              class="pi pi-server text-500 mr-2"></i>12 Courses</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="flex align-items-center">
            <span class="font-bold text-2xl text-900">$49</span>
            <span class="ml-2 font-medium text-600">per month</span>
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Offline stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Self-Learning stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Available in Online stream</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Monthly tests</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Mock Interviews</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Job References</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
          <button pButton pRipple label="Enroll Now" class="p-3 w-full"></button>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
  <div class="mb-3 font-bold text-4xl">
    <span class="text-sm text-2xl">Our Online Bootcamp</span>
  </div>
  <div class="text-700 text-4xl mb-6">An immersive learning experience</div>
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-black-500 font-bold mb-3">Develop skills for real career growth</span><br>
            <div class="text-500 font-smaller">Cutting-edge curriculum designed in guidance with industry and academia
              to develop job-ready skills</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width:5rem;height:3rem">
            <i class="pi pi-briefcase text-blue-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-black-500 font-bold mb-3">Learn from experts active in their field, not
              out-of-touch
              trainers</span>
            <div class="text-500 font-smaller">Leading practitioners who bring current best practices and case studies
              to sessions that fit into your work schedule.</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width:5rem;height:3rem">
            <i class="pi pi-user text-blue-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-black-500 font-bold mb-3">Learn by working on real-world problems</span>
            <div class="text-500 font-smaller">Capstone projects involving real world data sets with virtual labs for
              hands-on learning</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width:5rem;height:3rem">
            <i class="pi pi-credit-card text-cyan-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-black-500 font-bold mb-3">Structured guidance ensuring learning never stops</span>
            <div class="text-500 font-smaller">24x7 Learning support from mentors and a community of like-minded peers
              to resolve any conceptual doubts</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width:5rem;height:3rem">
            <i class="pi pi-clock text-cyan-500 text-xl"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-header></app-header>
<router-outlet></router-outlet>