<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-900 font-bold text-4xl mb-4">Master's Programs</div>
    <div class="text-700 text-xl mb-6 line-height-3">Achieve your career goals with industry-recognized learning paths
    </div>
    <div class="grid">
        <div class="col-12 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-bold text-xl mb-2">Full Stack Java Developer</div>
                    <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>6 Months | <i
                            class="pi pi-server text-500 mr-2"></i>7 Courses</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>SkillZone Job Gurantee Program</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>13 tools and 4 Industry Projects</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>Master's certificate</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto" />
                    <button pButton pRipple label="Enroll Now" class="p-3 w-full mt-auto" [routerLink]="['/enroll']"
                    routerLinkActive="active"></button>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-bold text-xl mb-2">Digital Marketing Specialist</div>
                    <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>12 Months | <i
                            class="pi pi-server text-500 mr-2"></i>14 Courses</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>SkillZone JobAssist program</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>30 tools and Rigorous curriculum</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>Content Partner Harvard Business</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Enroll Now" class="p-3 w-full" [routerLink]="['/enroll']"
                    routerLinkActive="active"></button>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-4">
            <div class="p-3">
                <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px">
                    <div class="text-900 font-bold text-xl mb-2">Cloud Architect</div>
                    <div class="text-600"><i class="pi pi-calendar text-500 mr-2"></i>12 Months | <i
                            class="pi pi-server text-500 mr-2"></i>12 Courses</div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <ul class="list-none p-0 m-0 flex-grow-1">
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>SkillZone JobAssist program</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>31 tools and Rigorous curriculum</span>
                        </li>
                        <li class="flex align-items-center mb-3">
                            <i class="pi pi-check text-green-500 mr-2"></i>
                            <span>Certification Aligned with Silver Microsoft Partner</span>
                        </li>
                    </ul>
                    <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
                    <button pButton pRipple label="Enroll Now" class="p-3 w-full" [routerLink]="['/enroll']"
                    routerLinkActive="active"></button>
                </div>
            </div>
        </div>
    </div>
</div>