<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-700 text-2xl mb-4">Get Certified, Get Ahead with Our Programs</div>
  <div class="text-900 font-bold text-4xl mb-4">Post Graduate Programs</div>
  <div class="text-700 text-xl mb-6 line-height-3">Learn from global experts and get certified by the world's leading
    universities<br>
    <span class="text-700 text-sm mb-2"><i class="pi pi-circle-fill text-1xl text-blue-500"></i> University
      Certificates&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> University Alumini
      Status&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> MasterClasses from
      University&nbsp;&nbsp;&nbsp;<i class="pi pi-circle-fill text-1xl text-blue-500"></i> Career Support</span>
  </div>
  <div class="grid">
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <p-card header="Cloud Computing" subheader="Post Graduation Program" [style]="{width: '360px'}"
          styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/Images/California.jpg">
          </ng-template>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-calendar text-gray-500 mr-2"></i>
              <span>12 Months</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-clock text-gray-500 mr-2"></i>
              <span>Cohort Starts : 11 Jan, 2022</span>
            </li>
          </ul>
          <ng-template pTemplate="footer">
            <img alt="Card" src="assets/Images/CaltechHomepage.png">
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <p-card header="Data Science" subheader="Post Graduation Program" [style]="{width: '360px'}"
          styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/Images/Purdue.jpg">
          </ng-template>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-calendar text-gray-500 mr-2"></i>
              <span>12 Months</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-clock text-gray-500 mr-2"></i>
              <span>Cohort Starts : 11 Jan, 2022</span>
            </li>
          </ul>
          <ng-template pTemplate="footer">
            <img alt="Card" src="assets/Images/Purdue-Homepage.png">
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <p-card header="Business Analysis" subheader="Post Graduation Program" [style]="{width: '360px'}"
          styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/Images/Purdue.jpg">
          </ng-template>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-calendar text-gray-500 mr-2"></i>
              <span>6 Months</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-clock text-gray-500 mr-2"></i>
              <span>Cohort Starts : 11 Jan, 2022</span>
            </li>
          </ul>
          <ng-template pTemplate="footer">
            <img alt="Card" src="assets/Images/Purdue-Homepage.png">
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>

  <!-- <ng-template ngFor let-postGraduationProgram [ngForOf]="postGraduationPrograms">
    <div class="grid">
      <div class="col-12 lg:col-4">
        <div class="p-3 h-full">
          <p-card header={{postGraduationProgram.name}} subheader={{postGraduationProgram.typeOfProgram}}
            [style]="{width: '360px'}" styleClass="p-card-shadow">
            <ng-template pTemplate="header">
              <img alt="Card" src="assets/Images/California.jpg">
            </ng-template>
            <ul class="list-none p-0 m-0 flex-grow-1">
              <li class="flex align-items-center mb-3">
                <i class="pi pi-calendar text-gray-500 mr-2"></i>
                <span>{{postGraduationProgram.duration}}</span>
              </li>
              <li class="flex align-items-center mb-3">
                <i class="pi pi-clock text-gray-500 mr-2"></i>
                <span>Cohort Starts : 11 Jan, 2022</span>
              </li>
            </ul>
            <ng-template pTemplate="footer">
              <img alt="Card" src="assets/Images/CaltechHomepage.png">
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </ng-template> -->

</div>